{% extends 'base.html.twig' %}

{% block title %}Entreprises
{% endblock %}

{% block body %}
	<h1>Liste des Entreprises</h1>
	<a href="{{ path('add_entreprise') }}">Ajouter une Entreprise</a><br>
	{% for entreprise in entreprises %}
		<a href="{{ path('show_entreprise', {'id': entreprise.id}) }}">{{ entreprise }}</a><br>
		<a href="{{ path('edit_entreprise', {'id': entreprise.id}) }}">Editer</a><br>
		<a href="{{ path('delete_entreprise', {'id': entreprise.id}) }}">Delete</a><br>
	{% endfor %}

{% endblock %}
