{% extends 'base.html.twig' %}

{% block title %}Employés
{% endblock %}

{% block body %}

	<h1>Liste des Employés</h1>
		<a href="{{ path('add_employe') }}">Ajouter un Employé</a><br>

	{% for employe in employes %}
		<a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe }}</a><br>
		<a href="{{ path('edit_employe', {'id': employe.id}) }}">Editer</a><br>
		<a href="{{ path('delete_employe', {'id': employe.id}) }}">Delete</a><br>

	{% endfor %}

{% endblock %}
