{% extends 'base.html.twig' %}

{% block title %}Détail d'un Employé
{% endblock %}

{% block body %}
	<h1>{{ employe }}</h1>
	<p>
		Ville :
		{{ employe.ville }}<br>
		Entreprise :
		{{ employe.entreprise }}<br>
		Date d'embauche ;
		{{ employe.dateEmbauche | date('d/m/Y') }}<br>
		Date de Naissance :
		{{ employe.dateNaissance | date('d/m/Y')}}
		({{ employe.age}}
		ans )<br>
	</p>
{% endblock %}
